<div class="row pt-5">
  <% variables.ul.forEach(function(ulList) { %>
    <div class="col-sm-6 mb-4">
      <h4><span>~</span><%= ulList.name %></h4>
      <p><%= ulList.text %></p>
    </div>
  <% }); %>
</div>