<div class="row pt-5">
  <% variables.faq.forEach(function(faqBlock) { %>
    <div class="col-sm-6 mb-4">
      <h4><span>~</span><%= faqBlock.name %></h4>
      <p><%= faqBlock.text %></p>
    </div>
  <% }); %>
</div>