<footer id="footer">
  <div class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <% let variables = require('./js/ejs_variables.js') %>
          <% include ..\bem-blocks\_footerIcons.ejs %>
        </div>
        <div class="col-sm-12">
          <div class="footer-copy">
            <div class="copy-right text-center pt-5">
              <p class="text-light">© 2022. All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>