<section id="section2">
  <div class="section2">
    <div class="container section2-text">
      <div class="row text-center">
        <div class="col-lg-9 col-md-12">
          <div class="block"></div>
        </div>
        <div class="col-lg-3 col-md-12 mt-lg-0 mt-4">
          <button class="main-btn">Learn more</button>
        </div>
      </div>
    </div>
  </div>
</section>